body {
	padding: 0;
	margin: 0;
}

.iframeclass {
	position: absolute;
	top: 0px;
	left: 36px;
	width: 801px;
	frameBorder: 0;
	border: 0;
	cellspacing: 0;
}

a,a:visited {
	position: relative;
	left: -15px;
	top: -30px;
	color: white;
	text-decoration: none;
	opacity: .3;
	filter: alpha(opacity = 30);
	padding: 46px 25px;
	display: block;
}

ul.navigation {
	list-style: none;
}

ul.navigation li {
	top: -16px;
	position: relative;
	left: -39px;
	background: transparant;
	margin: 0px;
	padding: 0px 0px;
	display: block;
	width: 0px;
	height: 72px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 35px solid #3D3D3D;
	border-right-color: rgb(86,53,35);
	opacity: .3;
	filter: alpha(opacity = 30);
}

ul.navigation li.highlight, ul.navigation li.highlight:hover {
	position: relative;
	left: -39px;
	background: transparant;
	margin: 0px;
	padding: 0px 0px;
	display: block;
	width: 0px;
	height: 72px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 35px solid #3d3d3d;
	border-right-color: rgb(86,53,35);
	opacity: 1;
	filter: alpha(opacity = 100);
}

ul.navigation li.highlight a {
	opacity: 1;
	filter: alpha(opacity = 100);
	cursor: default;
}

ul.navigation li:hover,ul.navigation li:focus {
	border-right-color: rgb(86,53,35);
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

ul.navigation a:hover,ul.navigation a:focus {
	opacity: 1;
	filter: alpha(opacity = 100);
}