<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ChatChatCatProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountCheckServlet</servlet-name>
    <servlet-class>com.ccc.controller.AccountCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCheckServlet</servlet-name>
    <url-pattern>/AccountCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatMessageServlet</servlet-name>
    <servlet-class>com.ccc.controller.ChatMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatMessageServlet</servlet-name>
    <url-pattern>/ChatMessageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.ccc.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ccc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ccc.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.ccc.controller.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLogoutServlet</servlet-name>
    <servlet-class>com.ccc.controller.ManagerLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogoutServlet</servlet-name>
    <url-pattern>/ManagerLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsMaintainServlet</servlet-name>
    <servlet-class>com.ccc.controller.NewsMaintainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsMaintainServlet</servlet-name>
    <url-pattern>/NewsMaintainServlet.mgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.ccc.controller.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ccc.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowNewsServlet</servlet-name>
    <servlet-class>com.ccc.controller.ShowNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewsServlet</servlet-name>
    <url-pattern>/ShowNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.ccc.controller.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMembersServlet</servlet-name>
    <servlet-class>com.ccc.controller.SearchMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMembersServlet</servlet-name>
    <url-pattern>/SearchMembersServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCatInfo</servlet-name>
    <servlet-class>com.ccc.controller.CreateCatInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCatInfo</servlet-name>
    <url-pattern>/CreateCatInfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCatInfo</servlet-name>
    <servlet-class>com.ccc.controller.EditCatInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCatInfo</servlet-name>
    <url-pattern>/EditCatInfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCatsInfo</servlet-name>
    <servlet-class>com.ccc.controller.ViewCatsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCatsInfo</servlet-name>
    <url-pattern>/ViewCatsInfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveCatInfo</servlet-name>
    <servlet-class>com.ccc.controller.RemoveCatInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCatInfo</servlet-name>
    <url-pattern>/RemoveCatInfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPersonalInfo</servlet-name>
    <servlet-class>com.ccc.controller.ModifyPersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPersonalInfo</servlet-name>
    <url-pattern>/ModifyPersonalInfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountSettings</servlet-name>
    <servlet-class>com.ccc.controller.AccountSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettings</servlet-name>
    <url-pattern>/AccountSettingsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewBoardServlet</servlet-name>
    <servlet-class>com.ccc.controller.ViewBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBoardServlet</servlet-name>
    <url-pattern>/ViewBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePwdservlet</servlet-name>
    <servlet-class>com.ccc.controller.ChangePwdservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdservlet</servlet-name>
    <url-pattern>/ChangePwdservlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewOneWarNoticeServlet</servlet-name>
    <servlet-class>com.ccc.controller.ViewOneWarNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOneWarNoticeServlet</servlet-name>
    <url-pattern>/ViewOneWarNoticeServlet.do</url-pattern>
  </servlet-mapping>
  
  <!-- 阿凱 -->
   <servlet>
    <servlet-name>prepareForManageAct</servlet-name>
    <servlet-class>com.ccc.controller.ForManageActPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prepareForManageAct</servlet-name>
    <url-pattern>/ForManageActPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAct</servlet-name>
    <servlet-class>com.ccc.controller.PrepareEditAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAct</servlet-name>
    <url-pattern>/PrepareEditAct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editAct</servlet-name>
    <servlet-class>com.ccc.controller.EditAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAct</servlet-name>
    <url-pattern>/EditAct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>processedInvitation</servlet-name>
    <servlet-class>com.ccc.controller.ProcessedInvitation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processedInvitation</servlet-name>
    <url-pattern>/ProcessedInvitation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>defaultInvitationPubPage</servlet-name>
    <servlet-class>com.ccc.controller.DefaultInvitationPubPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>defaultInvitationPubPage</servlet-name>
    <url-pattern>/DefaultInvitationPubPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>invitationPriPage</servlet-name>
    <servlet-class>com.ccc.controller.InvitationPriPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invitationPriPage</servlet-name>
    <url-pattern>/InvitationPriPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forViewPubActPage</servlet-name>
    <servlet-class>com.ccc.controller.ForViewPubActPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forViewPubActPage</servlet-name>
    <url-pattern>/ForViewPubActPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forViewPriActPage</servlet-name>
    <servlet-class>com.ccc.controller.ForViewPriActPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forViewPriActPage</servlet-name>
    <url-pattern>/ForViewPriActPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forViewHisActPage</servlet-name>
    <servlet-class>com.ccc.controller.ForViewHisActPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forViewHisActPage</servlet-name>
    <url-pattern>/ForViewHisActPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>joinOrQuit</servlet-name>
    <servlet-class>com.ccc.controller.JoinOrQuit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinOrQuit</servlet-name>
    <url-pattern>/JoinOrQuit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forSearchAct</servlet-name>
    <servlet-class>com.ccc.controller.ForSearchActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forSearchAct</servlet-name>
    <url-pattern>/ForSearchAct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createPost</servlet-name>
    <servlet-class>com.ccc.controller.CreatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createPost</servlet-name>
    <url-pattern>/CreatePostServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowThisActJSON</servlet-name>
    <servlet-class>com.ccc.controller.ShowThisActJSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowThisActJSON</servlet-name>
    <url-pattern>/ShowThisActJSONServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowThisAct</servlet-name>
    <servlet-class>com.ccc.controller.ShowThisActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowThisAct</servlet-name>
    <url-pattern>/ShowThisAct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForCalendarServlet</servlet-name>
    <servlet-class>com.ccc.controller.ForCalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForCalendarServlet</servlet-name>
    <url-pattern>/ForCalendarServlet.do</url-pattern>
  </servlet-mapping>
  
  <!-- Shooter -->
  <servlet>
    <servlet-name>ViewReportServlet</servlet-name>
    <servlet-class>com.ccc.controller.ViewReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReportServlet</servlet-name>
    <url-pattern>/ViewReportServlet.mgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertWarningNoticeServlet</servlet-name>
    <servlet-class>com.ccc.controller.InsertWarningNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertWarningNoticeServlet</servlet-name>
    <url-pattern>/InsertWarningNoticeServlet.mgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>com.ccc.controller.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet.mgr</url-pattern>
  </servlet-mapping>
  
    <!-- 簡晸芳負責以下 -->
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ccc.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet.do</url-pattern>
    <url-pattern>/SearchServlet.mgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.ccc.controller.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet.do</url-pattern>
  </servlet-mapping>
  <!-- 簡晸芳負責以上 -->
  
    <!-- 姜鈞傑負責以下 -->
  <servlet>
    <servlet-name>ViewPosts</servlet-name>
    <servlet-class>com.ccc.controller.ViewPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPosts</servlet-name>
    <url-pattern>/ViewPostsServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccusePost</servlet-name>
    <servlet-class>com.ccc.controller.AccusePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccusePost</servlet-name>
    <url-pattern>/AccusePostServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateResponse</servlet-name>
    <servlet-class>com.ccc.controller.CreateResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateResponse</servlet-name>
    <url-pattern>/CreateResponseServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteResponse</servlet-name>
    <servlet-class>com.ccc.controller.DeleteResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResponse</servlet-name>
    <url-pattern>/DeleteResponseServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddPostToFavorite</servlet-name>
    <servlet-class>com.ccc.controller.AddPostToFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostToFavorite</servlet-name>
    <url-pattern>/AddPostToFavoriteServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LikePost</servlet-name>
    <servlet-class>com.ccc.controller.LikePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePost</servlet-name>
    <url-pattern>/LikePostServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewFavoritePosts</servlet-name>
    <servlet-class>com.ccc.controller.ViewFavoritePostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFavoritePosts</servlet-name>
    <url-pattern>/ViewFavoritePostsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPostsByManagerServlet</servlet-name>
    <servlet-class>com.ccc.controller.ViewPostsByManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostsByManagerServlet</servlet-name>
    <url-pattern>/ViewPostsByManagerServlet.mgr</url-pattern>
  </servlet-mapping>
  


  <servlet>
    <servlet-name>EditPostServlet</servlet-name>
    <servlet-class>com.ccc.controller.EditPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPostServlet</servlet-name>
    <url-pattern>/EditPostServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetWhoLike</servlet-name>
    <servlet-class>com.ccc.controller.GetWhoLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWhoLike</servlet-name>
    <url-pattern>/GetWhoLikeServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewAPost</servlet-name>
    <servlet-class>com.ccc.controller.ViewAPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAPost</servlet-name>
    <url-pattern>/ViewAPostServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>com.ccc.controller.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateActPostServlet</servlet-name>
    <servlet-class>com.ccc.controller.CreateActPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateActPostServlet</servlet-name>
    <url-pattern>/CreateActPostServlet.do</url-pattern>
  </servlet-mapping>
  <!-- 姜鈞傑負責以上 -->
  
  
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
          	org.springframework.web.context.ContextLoaderListener
   	</listener-class>
  </listener>
  <listener>
    <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ccc.controller.listener.ServletCtxListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ccc.controller.listener.ChatroomListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ccc.controller.listener.NoticeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ccc.controller.listener.WebHttpSessionListener</listener-class>
  </listener>
</web-app>